.section {
    margin-bottom:30px;
}

.nav-tabs .tab-status {
    float: right;
    padding-top: 10px;
}

.tab-pane.active.container {
    padding-top:10px;
    padding-bottom:10px;
}

.nav-tabs .tab-x {
    position: absolute;
    top: 0;
    display:none;
    right: 5px;
}

.nav-tabs li.active .tab-x {
    display:inline-block;
}

.nav-tabs li a span {
    color:#888;
}

.nav-tabs li.active a span {
    color:#333;
}

.nav-tabs li a span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 8em;
    min-width:5em;
}

.tab-header {
    float: left;
    font-size:18px;
    margin-top: 13px;
    max-width: 13em;
    min-width: 7em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-tabs .tab-x a i {
    display:inline-block;
    font-size:8pt;
    color:#aaa;
    float:right;
    margin-top:2px;
}

.nav-tabs .tab-x:hover a i {
    color:#880000;
}




/*.nav-tabs li .tab-add {*/
    /*color: darkolivegreen;*/
/*}*/

/*.tabs .tab-status {*/
    /*float: right;*/
    /*padding-top: 20px;*/
/*}*/

/*.nav-tabs .tab-add:hover {*/
    /*background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(224,224,224,1) 0%, rgba(242,242,242,1) 51%, rgba(254,254,254,1) 100%); *//**//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(0%,rgba(224,224,224,1)), color-stop(51%,rgba(242,242,242,1)), color-stop(100%,rgba(254,254,254,1))); *//**//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(224,224,224,1) 0%,rgba(242,242,242,1) 51%,rgba(254,254,254,1) 100%); *//**//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(224,224,224,1) 0%,rgba(242,242,242,1) 51%,rgba(254,254,254,1) 100%); *//**//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(224,224,224,1) 0%,rgba(242,242,242,1) 51%,rgba(254,254,254,1) 100%); *//**//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(224,224,224,1) 0%,rgba(242,242,242,1) 51%,rgba(254,254,254,1) 100%); *//**//* W3C */
/*}*/

/*.nav-tabs .tab-x {*/
    /*position: absolute;*/
    /*top:0;*/
    /*right:5px;*/
/*}*/

/*.nav-tabs .tab-x a i {*/
    /*display:inline-block;*/
    /*font-size:8pt;*/
    /*color:#aaa;*/
    /*float:right;*/
    /*margin-top:2px;*/
/*}*/

/*.nav-tabs .tab-x:hover a i {*/
    /*color:#880000;*/
/*}*/

/*.nab-tabs .tab-fixed ul {*/
    /*display : none;*/
/*}*/

/*.nav-tabs .tab-x:hover a i:before {*/
    /*content: "\f09c";*/
/*}*/

/*div.content {*/
    /*background: yellow;*/
/*}*/

/*.nav-tabs ul {*/
    /*overflow: hidden;*/
/*}*/
/*.tabs .tab-header {*/
    /*float: left;*/
    /*margin-top: 0px;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*color: #333;*/
    /*padding-top: 9px;*/
    /*padding-right: 5px;*/
/*}*/

/*ul.nav-tabs>li>a {*/
    /*color:#333;*/
/*}*/

/*.nav-tabs .tab-header p {*/
    /*display:inline;*/
/*}*/

/*.tabs .tab-header:hover {*/
    /*color:darkslateblue;*/
    /*text-decoration: underline;*/
/*}*/

/*.nav-tabs .tabs-expand-collapse {*/
    /*padding-left:5px;*/
    /*padding-right:5px;*/
    /*float:left;*/
/*}*/

/*.nav-tabs .tabs-expand-collapse i {*/
    /*line-height:2;*/
/*}*/

/*.tab-content {*/
    /*padding:15px;*/
    /*display:none;*/
    /*top:0;*/
    /*left:0;*/
    /*width:100%;*/
/*}*/

/*.tab-content.blank-slate {*/
    /* UGH: for demo purposes only.  developers should create their own blank slate panel with proper labels etc...*/
    /*   ...OR modify javascript so that it can figure out height of panel based on non-blank heights.*/
    /*height: 340px;*/
/*}*/

/*.tab-content.current {*/
    /*display:block;*/
/*}*/

/*.nav-tabs li:first-of-type {*/
    /*border-left:1px solid #ccc;*/
/*}*/

/*div.content {*/
    /*clear: both;*/
/*}*/
/*.tab-panels {*/
    /*position:relative;*/
    /*width:100%;*/
    /*overflow:inherit;*/
/*}*/

/*.tab-empty {*/
    /*font-style:italic;*/
    /*font-size: 12px;*/
    /*color: lightslategray;*/
/*}*/



/*.tab-list .popover {*/
    /*max-width: 650px;*/
    /*word-wrap: break-word;*/
    /*line-height: 18px;*/
    /*font-size: 12px;*/
    /*font-style: italic;*/
    /*background: lightyellow;*/
/*}*/

/*.popover.error {*/
    /*background:pink;*/
/*}*/

/*.popover.error.left>.arrow:after {*/
    /*border-left-color: pink;*/
/*}*/

/*.nav-tabs li:last-child {*/

/*}*/




/* page related....for demo purposes only.*/

/*body {*/
    /*font-size:14px;*/
/*}*/



/*.col1 {*/
    /*float:left;*/
    /*width:100px;*/
/*}*/

/*.col2 {*/
    /*margin-left:100px;*/
/*}*/

/*.navbar-brand i {*/
    /*font-size:22px;*/
    /*color:#483d8b;*/
    /*padding-right:8px;*/
/*}*/

/*.nav-list li.active a span {*/
    /*color:#333;*/
    /*box-shadow: 0px 0px 5px #00c;*/
/*}*/

/*.nav-list li.has-error {*/
    /*box-shadow: 0px 0px 5px #e33;*/
    /*border-radius: 5px;*/
/*}*/

/*.nav-list li span.badge {*/
    /*background:#ccc;*/
/*}*/

/*.nav-list li  {*/
    /*position:relative;*/
/*}*/
/*.nav-list li.has-error .section-error {*/
    /*display:block;*/
/*}*/

/*.nav-list li .section-error {*/
    /*display:none;*/
    /*position:absolute;*/
    /*top:20px;*/
    /*right:15px;*/
    /*color: #c00;*/
    /*margin-left:0px;*/
/*}*/

/*#nav .tooltip-arrow {*/
    /*margin-top:-12px;*/
    /*HACK: why doesn't this line up right????*/
/*}*/

/*.container .breadcrumb {*/
    /*background:transparent;*/
/*}*/

/*.container label {*/
    /*margin:5px 0 0 0;*/
/*}*/

/*body {*/
    /*padding-top:50px;*/
/*}*/

/*.submenu {*/
    /*position:relative;*/
/*}*/

/*.feedback {*/
    /*position: fixed;*/
    /*top: 1px;*/
    /*font-size:18px;*/
    /*right: 0;*/
    /*z-index: 444449;*/
    /*padding-right:10px;*/
    /*padding-top:10px;*/
/*}*/
/*.feedback span {*/
    /*border-radius: 5px;*/
    /*padding: 8px 40px 8px 25px;*/
    /*background: #C02020;*/
    /*color: #F0F0F0;*/
    /*border-radius: 5px;*/
    /*text-decoration: underline;*/
/*}*/
/*.feedback i {*/
    /*font-size:16px;*/
    /*margin-left:-25px;*/
    /*color:white;*/
/*}*/

/*.red {*/
    /*color:darkred;*/
/*}*/
/*.yellow {*/
    /*color:#ffff00;*/
/*}*/
/*.orange {*/
    /*color:#c77405;*/
/*}*/

/*.name-icon {*/
    /*float: left;*/
    /*color: #77A;*/
    /*position: relative;*/
    /*top: 35px;*/
    /*z-index: 44;*/
    /*left: 8px;*/
/*}*/

/*.name-type {*/
    /*display: block;*/
    /*font-weight: normal;*/
    /*font-size: 12px;*/
    /*margin-left: 10px;*/
/*}*/

/*.name-type input[type=checkbox] {*/
    /*margin-right:10px;*/
/*}*/

/*.tab-x { display:none;}*/


/*.nav-tabs li .tab-x {*/
    /*display:none;*/
/*}*/
/*.nav-tabs li.active .tab-x {*/
    /*display:inline;*/
/*}*/





