
.template-source {
    display:none;
}

.btn-debug {
    position:fixed;
    top:20px;
    right:20px;
}

.untemplated:not([type='input']):after {
    color:#888;
    font-size:12px;
    font-style:italic;
    content:'<--not included in template';
}

.template-error:after {
    /* assumes code plops the template name into the title attribute! see Template.java*/
    content:'cant find the template '  attr(title);
}

.template-error {
    height:50px;
    width:100%;
    color:#ddd;
    background:#733;
    outline:1px solid black;
}

/* in form but not in template.*/
.untemplated {
    background:#fee;
    color:#444;
    outline:1px solid #dbb;
}

/* in form but not in template.*/
.untemplated {
    background:#fee;
    color:#444;
    outline:1px solid #dbb;
}

/* in template but not in form*/
.undefined {
    color:#b88;
}

.undefined:after {
    color:#aaa;
    font-style:italic;
    font-family:"courier new";
    font-size:10px;
    content:'<--in template but not in form';
}

body.defaultTheme .container  {
    width:970px;
}
body.defaultTheme form {
    /*width:270px;*/
}

.header {
    position:relative;
    border-bottom: 3px solid #777;
    height: 103px;
}

.feedbackPanel { display: inline-block;}

.logo {
    height: 100px;
    background-repeat: no-repeat;
    background-image: url("/images/logo1.png");
    width: 100px;
}

.logo-text {
    position: absolute;
    top: 25%;
    font-size: 40px;
    color: #666;
    font-style: italic;
    padding-left: 18px;
    height: 50px;
}

.wf-progress {
    bottom: 10px;
    font-size: 32px;
    position: absolute;
    right: 10px;
}

form.custom {
    width:500px;
}

.error-message {
    padding:50px;
    font-size:30px;
}



