.group {
    padding-top:0px;
    padding-bottom:25px;
}

.btn-primary, btn-default {
    margin-top:20px;
}

.wf-progress {
    bottom: 10px;
    font-size: 32px;
    position: absolute;
    right: 10px;
}

form.custom {
    width:500px;
}

.error-message {
    padding:50px;
    font-size:30px;
}


