
.btn-debug {
    position:absolute;
    top:20px;
    right:20px;
}

body.derek .container  {
    width:970px;
}


.logo {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url("/images/logo2.png");
}


.logo-text {
    position: absolute;
    font-size: 40px;
    color: #478;
    padding-left: 18px;
    height: 50px;
}

.header { background: aliceblue;}

.derek h1 {
    border-bottom:1px solid #888;
    margin-bottom:30px;
}

body.derek {
    width:500px;
    background:#f8f8f8;
    font-family: "Courier New";
}

body.derek form {
    width:650px;
}

.wf-progress {
    top: 10px;
    font-size: 20px;
    color:#483d8b;
    position: absolute;
    right: 10px;
}

.error-message {
    padding-left:20px;
    padding-right:20px;
    padding-top:100px;
    padding-bottom:100px;
    font-size:25px;
    font-weight: bold;
    font-family:"Tahoma";
}

