.group {
    padding-top:0px;
    padding-bottom:45px;
}

.btn-debug {
    position:absolute;
    top:20px;
    right:20px;
}

body.derek {
    width:500px;
    background:#f0f0f0;
    font-family: "Courier New";
}

body.derek form {
    width:500px;
}

.wf-progress {
    top: 10px;
    font-size: 20px;
    color:#483d8b;
    position: absolute;
    right: 10px;
}

.error-message {
    padding-left:20px;
    padding-right:20px;
    padding-top:100px;
    padding-bottom:100px;
    font-size:25px;
    font-weight: bold;
    font-family:"Tahoma";
}


.btn-primary, .btn-default {
    margin-top:20px;
}

