
.template-model.hasErrors {
    background:#fafad2;
    outline:2px dotted #2f4f4f;
}
.template-model.hasErrors:after {
    content: 'this form has fields that you have not included in your template';
    font-size:10px;
    font-style:italic;
}

/* in form but not in template.*/
.not-in-template {
    min-width:30px;
    min-height:25px;
    background:#fee;
    color:#aaa;
    outline:1px solid #dbb;
    padding:5px;
}



select.unreferenced,
input.unreferenced,
.unreferenced {
    background-image: repeating-linear-gradient(
        45deg, #ffbc66, #ff9c00 1px, transparent 1px, transparent 4px
    );
    background-size: 6px 6px;
    opacity: 0.5;
    outline: 1px dotted #a9a9a9;
}

.push {
    height:50px;
}

.navbar {
    padding-top:10px;
}

.btn-debug {
    position:fixed;
    top:20px;
    right:20px;
}

.feedbackPanel { display: inline-block;}

.wf-progress {
    bottom: 10px;
    font-size: 32px;
    position: absolute;
    right: 10px;
}

.error-message {
    padding:50px;
    font-size:30px;
}

/* this should be media size/width dependent...not for mobile.*/
form .row > [class*="col-"] {
    margin-bottom:1px;
}

.form-group {margin-bottom:1%!important;}

.form-inline .form-control  {margin-bottom:2%;}

.alert i.fa {
    float:left;
    display:inline-block;
}

.section .tab-pane,
.section .nav-tabs li.active a {
    background: #f4faff;
}

