<wicket:panel>
    <rp>
        <!-- put whatever you want here...need a wicket:ignore section -->
        <!-- javascript code should  $('.template details').hide/remove() -->
    </rp>
    <div class="row">
        <div class="col-md-3">
            <label data-tmpl="label.first">First</label>
        </div>
        <div class="col-md-3">
            <label data-tmpl="label.middle">Middle</label>
        </div>
        <div class="col-md-3">
            <label data-tmpl="label.last">Last</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" data-tmpl="first" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" data-tmpl="middle" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" data-tmpl="last" class="form-control">
        </div>
    </div>

</wicket:panel>