<wicket:panel>
    <div class="container">
        <div class="row">
            <div class="col-md12">
                <label class="h4" data-template="label.thanks">THANKS</label>
            </div>
            <div class="col-md12">
                <span class="h4">$</span>
                <label class="h4" data-template="data.total">$$$</label>
            </div>
        </div>
        <div class="row">
            <input type="button" value="FINISHED" class="btn btn-large btn-primary btn-submit" data-template="button.finished">
        </div>
    </div>
</wicket:panel>