<wicket:panel>

    <div data-tmpl="names" class="">Insured</div>
    <div data-tmpl="vehicles" class="">Vehicles</div>

    <p class="push"></p>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <input type="button" class="btn btn-primary btn-submit" data-tmpl="button.next" value="next">
                <input type="button" class="btn btn-primary btn-submit" data-tmpl="button.cancel" value="next">
            </div>
        </div>
    </div>

</wicket:panel>



