<wicket:panel>

    <div class="container">
        <a class="col-md-3 pull-right" href="http://www.google.com">Click here to Google!</a>
    </div>

    <div class="row"><h3 class="col-md-2">Insured</h3></div>

    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <label data-tmpl="label.first" class="">First</label>
        </div>
        <div class="col-md-3">
            <label data-tmpl="label.middle" class="">Middle</label>
        </div>
        <div class="col-md-3">
            <label data-tmpl="label.last" class="">Last</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <select data-tmpl="name.salutation" />
        </div>
        <div class="col-md-3">
            <input type="text" data-tmpl="name.first" class="form-control"/>
        </div>
        <div class="col-md-3">
            <input type="text" data-tmpl="name.middle" class="form-control"/>
        </div>
        <div class="col-md-3">
            <input type="text" data-tmpl="name.last" class="form-control"/>
        </div>
    </div>

    <hr>

    <p><h1></h1></p>

    <div class="row">
        <div class="col-md-1">
            <label data-tmpl="label.country" class="">Country</label>
        </div>
        <div class="col-md-4">
            <input type="text" data-tmpl="insured.country" class="form-control"/>
        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-md-1">
            <label data-tmpl="label.paymentMethod" class="">Payment Method</label>
        </div>
        <div class="col-md-4">
            <select data-tmpl="payment.method" class=""></select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div data-tmpl="label.one">A</div>
            <div data-tmpl="label.two">B</div>
            <div data-tmpl="label.three">C</div>
        </div>
    </div>

    <p></p>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <label data-tmpl="label.vehicleType" class="">Type</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <input type="text" data-tmpl="vehicle.type" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="pull-right col-md-4">
            <div class="checkbox">
                <label>
                    <input data-tmpl="insured.smokes" type="checkbox">
                </label>
            </div>
        </div>
    </div>

    <!--in order to compensate for footer-->
    <p class="push"></p>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <input type="button" class="btn btn-primary btn-submit" data-tmpl="button.next" value="next">
            </div>
        </div>
    </div>

</wicket:panel>



