<wicket:panel>

  <div class="container">

      <div class="row">
          <p data-tmpl="label"/>
      </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-group">
                <div><label data-tmpl="label.email"></label></div>
                <p data-tmpl="email"></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-group">
                <label data-tmpl="label.phone"></label>
                <p data-tmpl="phone"></p>
            </div>
        </div>
    </div>


      <!--in order to compensate for footer-->
    <p class="push"></p>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <input type="button" class="btn btn-primary btn-submit" data-tmpl="button.next" value="next">
            </div>
        </div>
    </div>

    </div>

</wicket:panel>