<wicket:panel>

  <div class="container">

      <div class="row">
          <div class="col-md-6">
              <div class="col-group">
                  <label data-tmpl="label.usesCC"/>
                  <label data-tmpl="label.usesCash"/>
              </div>
          </div>
      </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-group">
                <label data-tmpl="label.email"></label>
                <label data-tmpl="email"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-group">
                <label data-tmpl="label.phone"></label>
                <label data-tmpl="phone"></label>
            </div>
        </div>
    </div>


      <!--in order to compensate for footer-->
    <p class="push"></p>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <input type="button" class="btn btn-primary btn-submit" data-tmpl="button.next" value="next">
            </div>
        </div>
    </div>

    </div>

</wicket:panel>