<wicket:panel>
    <div class="row">
        <div class="col-xs-6 form-group">
            <div class="row">
                <label data-template="label.first" class="col-xs-12">First</label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input data-template="name.first" class="form-control" type="text"/>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" data-template="name.middle" type="text"/>
                </div>
            </div>
        </div>
        <div class="col-xs-6 form-group">
            <label data-template="label.last">Last</label>
            <input data-template="name.last" class="form-control" type="text"/>
        </div>
        <div class="col-xs-6 form-group">
            <label data-template="label.address">Address</label>
            <input data-template="insured.address" type="text"/>
        </div>
        <div class="col-xs-6 form-group">
            <label data-template="label.age">Age</label>
            <input data-template="insured.age" class="form-control" type="text"/>
        </div>
        <div class="col-xs-6 form-group">
            <label data-template="label.occupation">occupation</label>
            <input data-template="insured.occupation" class="form-control" type="text"/>
        </div>
    </div>
    <p></p>
    <a data-template="button.next" class="btn btn-primary">next</a>

</wicket:panel>

