<wicket:panel>
    <div class="row">
        <div class="col-xs-6 form-group">
            <div class="row">
                <label data-wf="label.first" class="col-xs-12">First</label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input data-wf="name.first" class="form-control" type="text"/>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" data-wf="name.middle" type="text"/>
                </div>
            </div>
        </div>
        <div class="col-xs-6 form-group">
            <label data-wf="label.last">Last</label>
            <input data-wf="name.last" class="form-control" type="text"/>
        </div>
        <div class="col-xs-6 form-group">
            <label data-wf="label.address">Address</label>
            <input data-wf="insured.address" type="text"/>
        </div>
        <div class="col-xs-6 form-group">
            <label data-wf="label.age">Age</label>
            <input data-wf="insured.age" class="form-control" type="text"/>
        </div>
        <div class="col-xs-6 form-group">
            <label data-wf="label.occupation">occupation</label>
            <input data-wf="insured.occupation" class="form-control" type="text"/>
        </div>
    </div>
    <a data-wf="button.next" class="btn btn-primary">next</a>
    <hr/>
    <hr/>
    <div data-wf="l1"/>
    <div data-wf="label.names"/>
    <div data-wf="label.bogus"/>
    <hr/>
    <hr/>

</wicket:panel>


    <div class="row">
        <div class="col-md-3">
            <div id="id110" data-wf="label.first" class="">first</div>
        </div>
        <div class="col-md-3">
            <div id="id312" data-wf="label.middle" class="">middle</div>
        </div>
        <div class="col-md-3"><div id="id514" data-wf="label.last">last</div></div></div>
    <div class="row">
        <div class="col-md-3"><input type="text" value="john" name="content:div:3:el:form:container:panel:2" id="id211" data-wf="first" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" value="" name="content:div:3:el:form:container:panel:4" id="id413" data-wf="middle" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" value="doe" name="content:div:3:el:form:container:panel:6" id="id615" data-wf="last" class="form-control">
        </div></div>
    <p></p><div class="btn-group">


    <input type="button" name="content:div:4:el" id="el17" value="next" class="btn btn-primary btn-submit" data-wf="button.next">
</div>
