<wicket:panel>

    <!--<a data-template="foo">hello there</a>-->

    <div class="container"><a class="pull-right" href="http://www.google.com">Click here to Google!</a></div>

    <div data-template="names" data-template-class="section">
        <p>this is where the names section goes.</p>
    </div>

    <p></p>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <label data-template="label.vehicleType"/>
        </div>
        <div class="col-md-3">
            <input type="text" data-template="vehicle.type" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label data-template="label.paymentMethod" class="">payment method</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <select data-template="payment.method" class=""></select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div data-template="label.one">hello</div>
            <div data-template="label.two">world</div>
            <div data-template="label.three">three</div>
        </div>
    </div>

    <p></p>
    <hr>
    <div class="row">
        <div class="col-md-1">
            <label data-template="label.age" class="">age</label>
        </div>
        <div class="col-md-3">
            <label data-template="label.occupation" class="">occupation</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <input type="text" data-template="insured.age" class="form-control"/>
        </div>
        <div class="col-md-3">
            <input type="text" data-template="insured.occupation" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label data-template="label.address">address</label>
        </div>
        <div class="col-md-8">
            <input type="text" data-template="insured.address"/>
        </div>
    </div>

    <!--in order to compensate for footer-->
    <p class="push"></p>


    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <input type="button" class="btn btn-primary btn-submit" data-template="button.next" value="next">
                <input type="button" class="btn btn-primary btn-submit" data-template="button.cancel" value="next">
            </div>
        </div>
    </div>

</wicket:panel>