<wicket:panel>

    <!--<a data-template="foo">hello there</a>-->

    <div class="row">
        <div class="col-md-3">
            <div data-template="label.first" class="">first</div>
        </div>
        <div class="col-md-3">
            <div data-template="label.middle" class="">middle</div>
        </div>
        <div class="col-md-3">
            <div data-template="label.last">last</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <input type="text" data-template="name.first" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" data-template="name.middle" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" data-template="name.last" class="form-control">
        </div>
    </div>
    <p></p>

    <div class="btn-group-bottom">
        <input type="button" class="btn btn-primary btn-submit" data-template="button.next" value="next">
    </div>

</wicket:panel>