<wicket:panel>
    <div class="row">
        <div class="col-md-3">
            <div class="col-group">
                <label data-tmpl="label.first">First</label>
                <input type="text" data-tmpl="first" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-group">
            <label data-tmpl="label.middle">Middle</label>
            <input type="text" data-tmpl="middle" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-group">
            <label data-tmpl="label.last">Last</label>
            <input type="text" data-tmpl="last" class="form-control">
            </div>
        </div>
    </div>

</wicket:panel>