<wicket:panel>

    <div class="row">
        <div class="col-md-3">
            <label data-tmpl="label.vehicleType">First</label>
        </div>
        <div class="col-md-3">
            <label data-tmpl="label.year">Middle</label>
        </div>
        <div class="col-md-3">
            <label data-tmpl="label.model">Last</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <select type="text" data-tmpl="type"/>
        </div>
        <div class="col-md-3">
            <input type="text" data-tmpl="year" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" data-tmpl="model" class="form-control">
        </div>
    </div>

</wicket:panel>